# 3. Lists in Python

 * __Lists are ordered.__
 * __Lists can contains any arbitrary objects.__
 * __Lists elements can be accessed by index.__
 * __Lists can be nested arbitrary depth.__
 * __Lists are mutable.__
 * __Lists are dynamic.__

In [5]:
# crating a list

x=["Python",25,3.147,2024,[1,10,50,"Hi, Python"],("Hello World",10,20),True,False,{1,2,3}]
print(x)

['Python', 25, 3.147, 2024, [1, 10, 50, 'Hi, Python'], ('Hello World', 10, 20), True, False, {1, 2, 3}]

In [19]:
print(x[4][3])
print(x[])

Hi, Python

In [2]:
print(type(x))

<class 'list'>

In [15]:
# positive indexing
print('Positive indexing:',x[0],"\nNegative Indexing:",x[-9])
print(x[1])
print(x[2])
print(x[3])
print(x[4])
print(x[5])
print(x[6])
print(x[7])
print(x[8])

Positive indexing: Python
Negative Indexing: Python
25
3.147
2024
[1, 10, 50, 'Hi, Python']
('Hello World', 10, 20)
True
False
{1, 2, 3}

In [30]:
x=["Python",25,3.147,2024,[1,10,50,"Hi, Python"],("Hello World",10,20),True,False,{10,50,20,100},{"name":"xyz",'age':45}]
print(x)

['Python', 25, 3.147, 2024, [1, 10, 50, 'Hi, Python'], ('Hello World', 10, 20), True, False, {10, 20, 100, 50}, {'name': 'xyz', 'age': 45}]

In [23]:
print(x[4][3])

Hi, Python

In [27]:
print(x[5][0])
print(x[8][2])

Hello World

TypeError: 'set' object is not subscriptable

In [31]:
x=["Python",25,3.147,2024,[1,10,50,"Hi, Python"],("Hello World",10,20),True,False,{10,50,20,100},{"name":"xyz",'age':45}]
x

['Python',
 25,
 3.147,
 2024,
 [1, 10, 50, 'Hi, Python'],
 ('Hello World', 10, 20),
 True,
 False,
 {10, 20, 50, 100},
 {'name': 'xyz', 'age': 45}]

In [41]:
print(type(x[0]))
print(type(x[1]))
print(type(x[2]))
print(type(x[3]))
print(type(x[4]))
print(type(x[5]))
print(type(x[6]))
print(type(x[7]))
print(type(x[8]))
print(type(x[9]))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'bool'>
<class 'bool'>
<class 'set'>
<class 'dict'>

In [42]:
x=["Python",25,3.147,2024,[1,10,50,"Hi, Python"],("Hello World",10,20),True,False,{10,50,20,100},{"name":"xyz",'age':45}]
x

['Python',
 25,
 3.147,
 2024,
 [1, 10, 50, 'Hi, Python'],
 ('Hello World', 10, 20),
 True,
 False,
 {10, 20, 50, 100},
 {'name': 'xyz', 'age': 45}]

In [44]:
print(x[9]['age'])

45

# What can content a list
 * __Strings__
 * __Floats__
 * __Integers__
 * __Boolean__
 * __Nested lists__
 * __Nested tuples__
 * __Nested Dictionary__
 * __Nested Set__
 * __Other Data structure.__

# List operations

In [45]:
x=["Python",25,3.147,2024,[1,10,50,"Hi, Python"],("Hello World",10,20),True,False,{10,50,20,100},{"name":"xyz",'age':45}]
x

['Python',
 25,
 3.147,
 2024,
 [1, 10, 50, 'Hi, Python'],
 ('Hello World', 10, 20),
 True,
 False,
 {10, 20, 50, 100},
 {'name': 'xyz', 'age': 45}]

In [46]:
# length of the list
len(x)

10

# slicing of list

In [47]:
x

['Python',
 25,
 3.147,
 2024,
 [1, 10, 50, 'Hi, Python'],
 ('Hello World', 10, 20),
 True,
 False,
 {10, 20, 50, 100},
 {'name': 'xyz', 'age': 45}]

In [53]:
print(x[0:4])
print(x[:4])
print(x[5:8])

['Python', 25, 3.147, 2024]
['Python', 25, 3.147, 2024]
[('Hello World', 10, 20), True, False]

In [57]:
x1=["Python","Hello world",32]
x1

['Python', 'Hello world', 32]

# Extending the list

 * __We use extend() function to add a new element to the list.__
 * __With this function, we add more than one element to the list.__

In [60]:
x1.extend(["Prajwal","Rupali"])
x1

['Python', 'Hello world', 32, 'Prajwal', 'Rupali']

# append() method

 * __As different from the extend() method, with the append() method, We add only one element to the list.__
 * __You can see the difference by comparing the above and below codes.__

In [64]:
x1.append(["adnan","Prajwal","rupali"])
x1

['Python',
 'Hello world',
 32,
 'Prajwal',
 'Rupali',
 'adnan',
 ['adnan'],
 ['adnan', 'Prajwal', 'rupali']]

# insert

In [66]:
print(x1)

['Python', 'Hello world', 32, 'Prajwal', 'Rupali', 'adnan', ['adnan'], ['adnan', 'Prajwal', 'rupali']]

In [69]:
x1.insert(0,100)
print(x1)

[100, 100, 100, 'Python', 'Hello world', 32, 'Prajwal', 'Rupali', 'adnan', ['adnan'], ['adnan', 'Prajwal', 'rupali']]

In [70]:
x1

[100,
 100,
 100,
 'Python',
 'Hello world',
 32,
 'Prajwal',
 'Rupali',
 'adnan',
 ['adnan'],
 ['adnan', 'Prajwal', 'rupali']]

In [73]:
del(x1[0])

In [74]:
x1

[100,
 'Python',
 'Hello world',
 32,
 'Prajwal',
 'Rupali',
 'adnan',
 ['adnan'],
 ['adnan', 'Prajwal', 'rupali']]

In [75]:
x1

[100,
 'Python',
 'Hello world',
 32,
 'Prajwal',
 'Rupali',
 'adnan',
 ['adnan'],
 ['adnan', 'Prajwal', 'rupali']]

In [76]:
del(x1[1:4])

In [77]:
x1

[100, 'Prajwal', 'Rupali', 'adnan', ['adnan'], ['adnan', 'Prajwal', 'rupali']]

In [86]:
lis=[0,1,2,3,4,5,6,7,8,9,4,4,4,5,5,5,101]
print(len(lis))

print(lis.count(9))
print(sum(lis))
print(min(lis))
print(max(lis))

17
1
173
0
101

In [94]:
lis2=["Python",3.14,1.718,True,[1,1,2,3,4],("Hello world",True,False)]
lis2

['Python', 3.14, 1.718, True, [1, 1, 2, 3, 4], ('Hello world', True, False)]

In [95]:
lis2[0]="Adnan"
lis2

['Adnan', 3.14, 1.718, True, [1, 1, 2, 3, 4], ('Hello world', True, False)]

In [93]:
lis2[4]={1,2,3}
lis2

['Adnan', 3.14, 1.718, True, {1, 2, 3}, ('Hello world', True, False)]

In [98]:
lis2[4].insert(3,'rupali')
lis2

['Adnan',
 3.14,
 1.718,
 True,
 [1, 1, 2, 'rupali', 3, 4],
 ('Hello world', True, False)]

In [99]:
lis2

['Adnan',
 3.14,
 1.718,
 True,
 [1, 1, 2, 'rupali', 3, 4],
 ('Hello world', True, False)]

In [100]:
lis2[5].insert(1,'adnan')
lis2

AttributeError: 'tuple' object has no attribute 'insert'

In [101]:
lis2

['Adnan',
 3.14,
 1.718,
 True,
 [1, 1, 2, 'rupali', 3, 4],
 ('Hello world', True, False)]

In [102]:
del(x1[5])
x1

[100, 'Prajwal', 'Rupali', 'adnan', ['adnan']]

In [106]:
message="Python is a programming language."
message.split()

['Python', 'is', 'a', 'programming', 'language.']

In [109]:
msg1="Hello,Good,Morning"
msg1.split(',')

['Hello', 'Good', 'Morning']

# Copy the list

In [110]:
# clone copy # deep copy

In [116]:
# deep copy

x=['Python',10,20,False]
y2=x
print(x)
print(y2)

y2.append(['prajwal'])
print(y2)
print(x)

['Python', 10, 20, False]
['Python', 10, 20, False]
['Python', 10, 20, False, ['prajwal']]
['Python', 10, 20, False, ['prajwal']]

In [117]:
print(x)

['Python', 10, 20, False, ['prajwal']]

In [121]:
x2=['python',"Hello world"]
y3=x2.copy()
print('Original Data:',x2)
print('Duplicate Data',y3)

y3.append([45,"Adnan"])
print(y3)
print(x2)

Original Data: ['python', 'Hello world']
Duplicate Data ['python', 'Hello world']
['python', 'Hello world', [45, 'Adnan']]
['python', 'Hello world']

# Concatenation of lists

In [1]:
a_list=["a","b",["c","d"],"e"]
b_list=[1,2,3,4,5,6,(7,8),True,False]

new_list=a_list+b_list
print(new_list)

['a', 'b', ['c', 'd'], 'e', 1, 2, 3, 4, 5, 6, (7, 8), True, False]

# input() function

In [14]:
x=int(input("Enter any number"))
print(x)
print(type(x))

Enter any number 123

123
<class 'int'>

In [17]:
x1=int(input("Enter first number:\n"))
x2=int(input("Enter second numebr:\n"))

z=x1+x2
print('Addition for 1st and 2nd value is:',z)

Enter first number:
 12
Enter second numebr:
 13

Addition for 1st and 2nd value is: 25

In [20]:
eval('8+7')

15

In [26]:
eval('22+22')

44

In [37]:
expression='8+7'
print(expression)
print(type(expression))
total=eval(expression)
print('Sum of the expression is:',total)
print(type(total))

8+7
<class 'str'>
Sum of the expression is: 15
<class 'int'>

# format() function

In [41]:
a=int(input("Enter any value:"))
b=float(input('Enter second value:'))

total=a+b
print(f'Sum of {a} and {b} value is:',total)
print('Sum of {} and {} is {}.'.format(a,b,total))

Enter any value: 11
Enter second value: 14

Sum of 11 and 14.0 value is: 25.0
Sum of 11 and 14.0 is 25.0.

# Comparison operators

 * __The operators such as <,>,<=,>=,==,and != (<>) Compare the certain two operands and return True and False statement.__

In [45]:
a=3.14
b=1.618
c=12
d=3.14

print(a>b and c>a)
print(c>a and a==d)
print(a<=b and b>=a)

True
True
False

In [51]:
print(a>b or c>a)
print(c>a or a==d)
print(a<=b or c>a)

True
True
True

In [55]:
a=3.14
b=1.618
c=12
d=3.14

print(a!=b)
print(a!=d)

True
False

# Assignment operators

In [58]:
x=10

x+=10
x

20

In [59]:
x=20
x-=5
x

15

In [60]:
x=5

x*=5
x

25

In [62]:
x=20
x//=5
x

4

# Membership operators

In [66]:
nlis=[4,5,6,7,8,9,"Hello",{1,2,3},True]

print(5 in nlis)
print(True in nlis)

True
True