# 4. Tuples in Python

 * __Tuples are immutable list and cannnot be changed in any way once it is created.__
     
     * __Tuples are defined in the same way as lists.__
     * __They are enclosed within parenthesis and not within square braces.__
     * __Tuples are ordered, indexed collections of data.__
     * __Similar to the string indices, the first value in the tuple will have the index [0], the second value [1].__
     * __Negative indices are counted from the end of the tuple, just like lists.__
     * __Tuple also has the same structure where commas separate the values.__
     * __Tuples can store duplicate values.__
     * __Tuples allow you to store serveral data items including string, integer, float in one variables.__

In [1]:
tuple_1=('Hello','Python',3.14,1.618,2023,True,False,[1,2,3],{1,2,3},{'a':3,'b':45},(0,1))

tuple_1

('Hello',
 'Python',
 3.14,
 1.618,
 2023,
 True,
 False,
 [1, 2, 3],
 {1, 2, 3},
 {'a': 3, 'b': 45},
 (0, 1))

In [2]:
print(type(tuple_1))

<class 'tuple'>

In [4]:
print(type(tuple_1[0]))

<class 'str'>

In [5]:
print(len(tuple_1))

11

In [6]:
tuple_1=('Hello','Python',3.14,1.618,2023,True,False,[1,2,3],{1,2,3},{'a':3,'b':45},(0,1))

tuple_1

('Hello',
 'Python',
 3.14,
 1.618,
 2023,
 True,
 False,
 [1, 2, 3],
 {1, 2, 3},
 {'a': 3, 'b': 45},
 (0, 1))

In [11]:
print(tuple_1[7][2])

3

In [13]:
print(tuple_1[9]['b'])

45

# Concatenation of tuples

 * __To cancatenate tuples + sign is used.__

In [14]:
tuple_1

('Hello',
 'Python',
 3.14,
 1.618,
 2023,
 True,
 False,
 [1, 2, 3],
 {1, 2, 3},
 {'a': 3, 'b': 45},
 (0, 1))

In [15]:
tuple_2=('Hello World!',2022)
tuple_2

('Hello World!', 2022)

In [16]:
tuple_3=tuple_1+tuple_2
print(tuple_3)

('Hello', 'Python', 3.14, 1.618, 2023, True, False, [1, 2, 3], {1, 2, 3}, {'a': 3, 'b': 45}, (0, 1), 'Hello World!', 2022)

# Membership

In [20]:
rep_tup = (1,2,3,4)

print(2 in rep_tup)
print(2 not in rep_tup)
print(5 in rep_tup)
print(5 not in rep_tup)

True
False
False
True

# Sorting tuple

In [21]:
tuple_4=(0,9,8,5,6,1,2,3,7,4,5)
sorted_tuple_4=sorted(tuple_4)
print(sorted_tuple_4)

[0, 1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

In [24]:
x4=sorted_tuple_4[::-1]
x4

[9, 8, 7, 6, 5, 5, 4, 3, 2, 1, 0]

# Nested tuple

 * __In Pyhton, a tuple written inside antoher tuple is known as a nested tuple.__

In [25]:
nested_tuple=('Hello World',(0,1),('India','Greece'),(3.14,'pi',(1.618,'Bharat')))

nested_tuple

('Hello World', (0, 1), ('India', 'Greece'), (3.14, 'pi', (1.618, 'Bharat')))

In [29]:
nested_tuple[3][2][1]

'Bharat'

# Delete a tuple

 * __An element in a tuple can not be deleted since it is immutable.__
 * __But a whole tuple can be deleted.__

In [31]:
tuple_4=(1,3,4,5,6,7)

print('Before deleting:',tuple_4)

del(tuple_4[0])
print(tuple_4)

Before deleting: (1, 3, 4, 5, 6, 7)

TypeError: 'tuple' object doesn't support item deletion

In [32]:
del(tuple_4)
print(tuple_4)

NameError: name 'tuple_4' is not defined