# 5. Sets in Python


 * __Set is one of 4 built-in data types in Python used to store collections of data including List, Tuple, and Dictionary.__
 
 * __Sets are unordered, but you can remove items and add new items.__
 
 * __Set elements are unique. Duplicate elements are not allowed.__
 
 * __A set itself may be modified, but the elements contained in the set must be of an immutable type.__
 
 * __Sets are used to store multiple item in a single variable.__
 
 * __You can denote a set with a pair of curly brackets {}.__

In [2]:
# Empty set

x={}
print(x)
print(type(x))

{}
<class 'dict'>

In [5]:
# To take a set without element, use set() function without any items.

x1=set()

print(x1)

print(type(x1))

set()
<class 'set'>

In [6]:
# Take a set

set1={'Hello World',3.147,1.618,'Hello Python',3.147,1.618,True,False,2023,'Hello World'}

set1

{1.618, 2023, 3.147, False, 'Hello Python', 'Hello World', True}

# Converting list to set

In [8]:
# A list can convert to a set

# Take a list

nlis1=['Hello World',3.147,1.618,'Hello Python',3.147,1.618,True,False,2023,'Hello World']

print(nlis1)


# Converg the list to a set

set2=set(nlis1)

print(set2)

['Hello World', 3.147, 1.618, 'Hello Python', 3.147, 1.618, True, False, 2023, 'Hello World']
{False, 1.618, True, 3.147, 2023, 'Hello Python', 'Hello World'}

# Set Operations

In [10]:
# add()
x1={5,'Hello',3,2}

x1.add(10)
print(x1)

{2, 3, 5, 10, 'Hello'}

In [14]:
# discard()

print(x1)

x1.discard(45)
print(x1)

{2, 5, 10, 'Hello'}
{2, 5, 10, 'Hello'}

In [17]:
# remove()

x2={5,'Hello',32}

x2.remove(32)
print(x2)

{'Hello', 5}

In [18]:
# pop()

x3={5,'Hello',32}

print(x3.pop())

32

In [19]:
x4={5,'Hello',32}

x5=x4.pop()
print(x5)

32

# add() function

 * __To add element into a set, we use the function add(). If the same element is added to the set, nothing will happend because the set accepts no duplicates.__

In [3]:
# Addition of an element to a set

set3=set(['hello world',3.14,1.618,'hello world',3.14,1.618,True,False,2023])
print(set3)

set3.add('Hi,Python')
print(set3)

{False, 1.618, True, 3.14, 2023, 'hello world'}
{False, 1.618, True, 3.14, 2023, 'Hi,Python', 'hello world'}

# update() function

 * __To add multiple element into the set.__

In [5]:
x_set={6,7,8,9}

print(x_set)

x_set.update({3,4,5,6,7})
print(x_set)

{8, 9, 6, 7}
{3, 4, 5, 6, 7, 8, 9}

# Logic Operations in sets

In [6]:
set4=set(['Hello Python',3.14,1.618,'Hello World'])

set5=set([3.14,1.618,True,False,2023,'Hello World'])

print(set4)
print(set5)

{'Hello World', 1.618, 'Hello Python', 3.14}
{False, 1.618, True, 3.14, 2023, 'Hello World'}

In [7]:
# Another method to this set is:

print(set4,set5)

{'Hello World', 1.618, 'Hello Python', 3.14} {False, 1.618, True, 3.14, 2023, 'Hello World'}

# To find the intersect of two sets using &

In [8]:
# intersection
x=set4&set5
print(x)

{'Hello World', 1.618, 3.14}

In [9]:
# To find intersection another method

set4.intersection(set5)

{1.618, 3.14, 'Hello World'}

# difference() function

 * __To find the difference between two set.__

In [12]:
set4=set(['Hello Python',3.14,1.618,'Hello World'])   # A

set5=set([3.14,1.618,True,False,2023,'Hello World'])  # B


# Difference A-B and B-A
print(set4.difference(set5))   # A-B

print(set5.difference(set4))  # B-A

{'Hello Python'}
{False, True, 2023}

# Union

 * __it corresponds to all the elements in both sets.__

In [13]:
print(set4.union(set5))

{False, 1.618, True, 3.14, 2023, 'Hello World', 'Hello Python'}