# 8. Loops in Python


 * __A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).__
 * __This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-oriented programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.__
 * __The for loop does not require an indexing variable to set beforehand.__
 * __With the while loop we can execute a set of statements as long as a condition is true.__
 * __Note: remember to increment i, or else the loop will continue forever.__
 * __The While loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.__
 
# range() function

 * __It is helpful to think of the range object as an ordered list.__
 * __To loop through a set of code a specified number of times, we can use the range() function.__
 * __The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.__

In [3]:
# take a range() function

print(range(5))
print(range(5,10))

range(0, 5)
range(5, 10)

# for loop

 * __The for loop enables you to execute a code block multiple times.__

In [4]:
years=[2005,2006,2007,2008,2009,2010,2011,2012,2013,2014]

for i in years:
    print(i)

2005
2006
2007
2008
2009
2010
2011
2012
2013
2014

In [5]:
for x in years:
    print(x)

2005
2006
2007
2008
2009
2010
2011
2012
2013
2014

In [18]:
for name in years:
    print(name)

2005
2006
2007
2008
2009
2010
2011
2012
2013
2014

In [20]:
# printing using range() function

for i in range(len(years)):
    print(i,years[i])

0 2005
1 2006
2 2007
3 2008
4 2009
5 2010
6 2011
7 2012
8 2013
9 2014

In [10]:
for i in range(2,12):
    print(i)

2
3
4
5
6
7
8
9
10
11

In [13]:
# Striding in for loop

# 2,12    #2,5,8,11

for i in range(2,12,3):
    print(i)

2
5
8
11

In [23]:
languages=['Java','JavaScript','C','C++','PHP','Python']

for i in range(len(languages)):
    print(i,languages[i])

0 Java
1 JavaScript
2 C
3 C++
4 PHP
5 Python

In [24]:
for i in range(-3,7):
    print(i)

-3
-2
-1
0
1
2
3
4
5
6

In [30]:
num1=int(input('Enter any number:'))

for i in range(1,11):
    print('%dX%d=%d'%(num1,i,num1*i))
    
    
#9x1=9

Enter any number:19
19X1=19
19X2=38
19X3=57
19X4=76
19X5=95
19X6=114
19X7=133
19X8=152
19X9=171
19X10=190

In [34]:
nlis=[0.577,1.618,2.718,3.147,1729,6,37,100,200,300,400]

# write a for loop addition
count=0

for i in nlis:
    count+=i
    
print('The total value of the number in the list is:',count)
print('The average value of the number in the list is:',count/len(nlis))

The total value of the number in the list is: 2780.06
The average value of the number in the list is: 252.73272727272726

In [10]:
# using for print 1 to 5   #1,2,3,4,5

for i in range(1,6):
    print(i,end=',')
    
else:
    print('These are numbers from 1 to 5.')

1,2,3,4,5,These are numbers from 1 to 5.

# break() in for loop

In [16]:
nlis=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

for i in nlis:
    if i==11:
        break
    print(i)
    
    
'''
You see that the output includes the numbers before 10.
The break function terminate the loop when it meets with the reference.
'''

1
2
3
4
5
6
7
8
9
10

'\nYou see that the output includes the numbers before 10.\nThe break function terminate the loop when it meets with the reference.\n'

# Continue in for loop

In [19]:
nlis=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]


for i in nlis:
    if i==10:
        continue
    print(i)
    
    
'''
You see that the output includes the numbers without 10.
The continue function jumps when it meets with the reference.
'''

1
2
3
4
5
6
7
8
9
11
12
13
14
15

'\nYou see that the output includes the numbers without 10.\nThe continue function jumps when it meets with the reference.\n'

# while loop


 * __The while loop exists as a tool for repeated execution based on a condition. The code block will keep being executed until the given logical condition returns a False boolean value.__

In [25]:
# Take an example

i=22 # starting point

while i<=27:
    print(i)
    i+=1

22
23
24
25
26
27

In [30]:
i=22

while i>=17:
    print(i)
    i-=1

22
21
20
19
18
17

# While-else statement

In [33]:
index=0

while index<=5:
    print(index,end=',')
    index+=1
    
else:
    print('It gives us the numbers between 0 to 5')

0,1,2,3,4,5,It gives us the numbers between 0 to 5

# break in while loop

In [36]:
i=0

while i<=5:
    print(i)
    i+=1
    if i==4:
        break

0
1
2
3

# Continue in while loop

In [38]:
i=0

while i<=5:
    print(i)
    i+=1
    if i==3:
        continue

0
1
2
3
4
5

In [40]:
# Print the first 10 natural number using for and while loop.
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [41]:
j=1
while j<=10:
    print(j)
    j+=1

1
2
3
4
5
6
7
8
9
10

In [44]:
# using for find the even number between 1 to 10.


for i in range(1,11):
    if i%2==0:
        print("Even numbers are:", i)

Even numbers are: 2
Even numbers are: 4
Even numbers are: 6
Even numbers are: 8
Even numbers are: 10

In [47]:
# Write a program to calculate the sum of all numbers from 1 to a given number is 10.

given_number=11

sum1=0

for i in range(1,given_number):
    sum1+=i
print('Total sum of 1 to 10:',sum1)

Total sum of 1 to 10: 55

In [1]:
# Write a python program to count kthe number of even or odd numbers from a series of numbers?
# num_list=[1,3,5,6,99,134,55,108,200,256,987,963,945,1000,106,3056]

num_list=[1,3,5,6,99,134,55,108,200,256,987,945,1000,106,3056]
even_count=0
odd_count=0

for i in num_list:
    if i%2==0:
        even_count+=1
       
    else:
        odd_count+=1
print("Even numbers in the list: ", even_count)
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  8
Odd numbers in the list:  7

In [5]:
num_list=[1,3,5,6,99,134,55,108,200,256,987,945,1000,106,3056,1234]
even_count=0
odd_count=0

for i in num_list:
    if i%2==0:
        even_count+=1
        print(i,': is an even number.')
        
    else:
        odd_count+=1
        print(i,': is an odd number.')
print("Even numbers in the list: ", even_count)
print("Odd numbers in the list: ", odd_count)

1 : is an odd number.
3 : is an odd number.
5 : is an odd number.
6 : is an even number.
99 : is an odd number.
134 : is an even number.
55 : is an odd number.
108 : is an even number.
200 : is an even number.
256 : is an even number.
987 : is an odd number.
945 : is an odd number.
1000 : is an even number.
106 : is an even number.
3056 : is an even number.
1234 : is an even number.
Even numbers in the list:  9
Odd numbers in the list:  7

In [7]:
# Write a program to count the total number of digits in a number 123456789456789123586 using for count.

n=123456789456789123586



for i in range(len(str(n))+1):
    continue
print(i)

21

In [8]:
given_num=123456789456789123586

given_num=str(given_num)
count=0

for i in given_num:
    count+=1
    
print(count)

21

In [11]:
# Write a Python program that accepts a string and count the number of digits and number from user input text.
# ex:-  abc123 then output will be 3 letters and 3 numbers.


words=input('Enter a string:\n')

digit=0
letters=0

for i in range(len(words)):
    if words[i].isnumeric()==True:
        digit+=1
        
    else:
        letters+=1
        
print('The String is:',words,"\nThe no. of digits are:",digit,'\nThe no. of letters are:',letters)

Enter a string:
Purushottam12345678
The String is: Purushottam12345678
The no. of digits are: 8
The no. of letters are: 11

In [1]:
# Write a python program to display the number of names of the digits of a number.
# number is 123 then output should be One Two Three.

In [2]:
# Write a python program to print sum of first 10 Even numbers using while loop.

# 2,4,6,8,10,12,14,16,18,20

num=2
sum1=0

while num<=20:
    sum1=sum1+num
    num=num+2
    
print(sum1)

110

In [3]:
i=0
sum2=0

while i<=20:
    if i%2==0:
        sum2+=i
        
    i+=1
print('Sum of 10 Even numbers:',sum2)

Sum of 10 Even numbers: 110

In [8]:
# Python program to print month name with number of days using while loop.

# January=31 days

month=["April","June","September","November","January","March","May","July","August","October","December","February"]

for i in month:
    if i == "February":
        print("The month of February has 28/29 days")
        
    elif i in ("April","June","September","November"):
        print("The month of",i,"has 30 days.")
    elif i in ("January","March","May","July","August","October","December"):
        print("The month of",i,"has 31 days.")
    else:
        print(i,"is not a valid month name.")

The month of April has 30 days.
The month of June has 30 days.
The month of September has 30 days.
The month of November has 30 days.
The month of January has 31 days.
The month of March has 31 days.
The month of May has 31 days.
The month of July has 31 days.
The month of August has 31 days.
The month of October has 31 days.
The month of December has 31 days.
The month of February has 28/29 days