# 8. Loops in Python


 * __A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).__
 * __This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-oriented programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.__
 * __The for loop does not require an indexing variable to set beforehand.__
 * __With the while loop we can execute a set of statements as long as a condition is true.__
 * __Note: remember to increment i, or else the loop will continue forever.__
 * __The While loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.__
 
# range() function

 * __It is helpful to think of the range object as an ordered list.__
 * __To loop through a set of code a specified number of times, we can use the range() function.__
 * __The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.__

In [3]:
# take a range() function

print(range(5))
print(range(5,10))

range(0, 5)
range(5, 10)

# for loop

 * __The for loop enables you to execute a code block multiple times.__

In [4]:
years=[2005,2006,2007,2008,2009,2010,2011,2012,2013,2014]

for i in years:
    print(i)

2005
2006
2007
2008
2009
2010
2011
2012
2013
2014

In [5]:
for x in years:
    print(x)

2005
2006
2007
2008
2009
2010
2011
2012
2013
2014

In [18]:
for name in years:
    print(name)

2005
2006
2007
2008
2009
2010
2011
2012
2013
2014

In [20]:
# printing using range() function

for i in range(len(years)):
    print(i,years[i])

0 2005
1 2006
2 2007
3 2008
4 2009
5 2010
6 2011
7 2012
8 2013
9 2014

In [10]:
for i in range(2,12):
    print(i)

2
3
4
5
6
7
8
9
10
11

In [13]:
# Striding in for loop

# 2,12    #2,5,8,11

for i in range(2,12,3):
    print(i)

2
5
8
11

In [23]:
languages=['Java','JavaScript','C','C++','PHP','Python']

for i in range(len(languages)):
    print(i,languages[i])

0 Java
1 JavaScript
2 C
3 C++
4 PHP
5 Python

In [24]:
for i in range(-3,7):
    print(i)

-3
-2
-1
0
1
2
3
4
5
6

In [30]:
num1=int(input('Enter any number:'))

for i in range(1,11):
    print('%dX%d=%d'%(num1,i,num1*i))
    
    
#9x1=9

Enter any number:19
19X1=19
19X2=38
19X3=57
19X4=76
19X5=95
19X6=114
19X7=133
19X8=152
19X9=171
19X10=190

In [34]:
nlis=[0.577,1.618,2.718,3.147,1729,6,37,100,200,300,400]

# write a for loop addition
count=0

for i in nlis:
    count+=i
    
print('The total value of the number in the list is:',count)
print('The average value of the number in the list is:',count/len(nlis))

The total value of the number in the list is: 2780.06
The average value of the number in the list is: 252.73272727272726